.sidebarArea {
  flex-shrink: 0;
  width: $sidebarWidth;

  background-color: $sidebarColor;
  .nav-link {
    color: #ffffff80;
  }
  .sidenav-bg:hover {
    background-color: #ffffff1a;
    border-radius: $border-radius;
    .nav-link {
      color: #ffffff;
    }
  }
  .sidenav-bg .active {
    background-color: $primary;
    border-radius: $border-radius;
    color: #ffffff;
  }
}

@include media-breakpoint-down(lg) {
  .sidebarArea {
    position: fixed;
    height: 100%;
    overflow: auto;
    top: 0;
    z-index: 1;
    margin-left: -$sidebarWidth;
    transition: 0.2s ease-in;
    &.showSidebar {
      margin-left: 0px;
    }
  }
}
