.sidebarArea {
    flex-shrink: 0;
    width: $sidebarWidth;
    position: fixed;
    height: 100%;
    background-color: #002244;
    .nav-link {
      color: rgba(255, 255, 255, 0.5);
    }
    .sidenav-bg:hover {
      background-color: #02386e;
      border-radius: $border-radius;
      scale: 1.1;
      .nav-link {
        color: white;
      }
    }
    .sidenav-bg .active {
      background-color: #002244;
      border-radius: $border-radius;
      color: white;
    }
  }
  
//   @include media-breakpoint-down(lg) {
//     .sidebarArea {
//       position: fixed;
//       height: 100%;
//       overflow: auto;
//       top: 0;
//       z-index: 1;
//       margin-left: -$sidebarWidth;
//       transition: 0.2s ease-in;
//       &.showSidebar {
//         margin-left: 0px;
//       }
//     }
//   }
  