body{
    margin: 0;
    padding: 0;

    
}
body::-webkit-scrollbar {
    display: none;
}


.table-width{
    overflow: scroll;
}

.containermain{

 padding-left: 10rem;
 max-height: 100%;
 overflow-y: hidden;

 
}
.modal-dialog {
   
    max-height: 96%;
}
.modal-body {
    max-height: 100vh;
     overflow-y: none;
     
}

.table{
    padding-right:15px;
    width:90%;
}

.p {
    margin-top: 0;
}
